*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    /* background-color: #ffffff; */
    background-color: #fdf2fd;
    background-image: linear-gradient(0deg, #fefafe 0%, #e2e7e7 100%);

}
.container{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.container .heading{
    width: 50%;
    padding: 50px;
}
.container .heading h3{
    font-size: 3em;
    padding-bottom: 10px;
    font-weight: bolder;
    border-bottom: 3px solid grey;
}
.container .box{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.container .box .deb{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .deb img{
    width: 100%;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 5px;
}
h3{
    color: #14addc;
    letter-spacing: 15px;
    text-transform: uppercase;
}
.box .deb img{
    border-radius: 5px;
}

.box .deb img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

